{
  "presets": [
    "react", "stage-0", ["env", {
      "useBuiltIns": true,
      "targets": {
        "node": "current",
        "browsers": ["> 1%", "Last 2 versions"]
      },
      "modules": false
    }]
  ],
  "plugins": ["syntax-dynamic-import"]
}
